// Colours

$top-nav: rgb(52,56,60);
$green: rgb(145,196,107);
$tourn-top: rgb(246,246,246);
$tournament-body: rgb(242,242,242);
$cobalt: #6c757e;
$dark-grey: #c7cccf;
$orange: #f15822;

// General

body {
	margin: 0;
	background-color: $tournament-body !important;
}

// Nav Top

.navbar.navbar-default {
	position: fixed;
	top: 0;
	width: 100%;
	height: 80px;
	margin: 0;
	border-radius: 0;
	box-shadow: none;
	background-image: none;
	border: none;
	background-color: $top-nav;
	z-index: 1;
}

// Nav Side

.nav-side {
	// margin-top: 100px;
	height: 100%;
	width: 100px;
	position: fixed;
	background-color: $green;
}

// Header

header {
	position: relative;
	height: 90px;
	margin-top: 80px;
	margin-left: 100px;
	background-color: white;
	font-family: 'Avenir Roman', sans-serif;
	color: $cobalt;

	span {
		height: 100%;
		display: table;
		padding-left: 20px;

		h3 {
			display: table-cell;
			vertical-align: middle;
		}
	}
}

.icon-cog {
	color: $dark-grey;
	font-size: 0.8em;
}

.tournament-info {
	padding-left: 100px;
	width: 100%;
}

.top {
	height: 120px;
	width: 100%;
	background-color: $tourn-top;
	display: table;
}

#stats {
	display: table-cell;
	vertical-align: middle;
	padding-left: 20px;
}

.stats-container {
	display: inline-block;
	padding: 0 20px;
	font-family: 'Avenir Roman', sans-serif;

	&.op {
		border-left: 3px solid $green;
	}

	&.hp {
		border-left: 3px solid $cobalt;
	}

	&.nt {
		border-left: 3px solid $green;
	}

	&.lf {
		border-left: 3px solid $orange;
	}

	&.cm {
		border-left: 3px solid $green;
	}

	&.gp {
		border-left: 3px solid $orange;
	}
}

.stats-num {
	display: inline-block;
	color: $cobalt;
	font-size: 4rem;
}

.stats-sub {
	display: inline-block;
	color: $dark-grey;
}

.left {
	width: 50%;
	float: left;	
}

.active-players, .active-tournaments, .recent-players, .player-statistics {
	padding: 20px;
	text-align: center;

	h3 {
		text-align: left;
	}
}

.right {
	width: 50%;
	float: right;	
}

.playerImage {
	height: 30px;
	width: 30px;
	object-fit: cover;
	border-radius: 50%;
}

.player-list {
	list-style: none;
}

// Progress Bar;

.i-container {
	position: relative;
	display: inline-block;
	height: 150px;
	  margin: 10px;
}

.progress-container {
	position: relative;
	display: inline-block;
	width: 120px;
	height: 120px;
}

.progress {
	height: 100% !important;
	position: absolute;
	box-shadow: none !important;
	background: none !important;
	margin: 0 !important;
}

.progress > svg {
	height: 100%;
	display: block;
}

.percentage {
	position: absolute;
	width: 100%;
	height: 100%;
	display: table;
	text-align: center;

	span {
		display: table-cell;
		vertical-align: middle;
	}
}

.pb-text {
	position: absolute;
	width: 100%;
	height: 20px;
	bottom: 0;
	left: 0;
}
