body {
  margin: 0;
  background-color: #f2f2f2 !important; }

.navbar.navbar-default {
  position: fixed;
  top: 0;
  width: 100%;
  height: 80px;
  margin: 0;
  border-radius: 0;
  box-shadow: none;
  background-image: none;
  border: none;
  background-color: #34383c;
  z-index: 1; }

.navbar > .container-fluid .navbar-brand {
  margin-left: -15px;
  width: 100px; }

.navbar-brand,
.navbar-nav li a {
  line-height: 50px !important;
  height: 80px;
  padding-top: 0; }

.navbar-form {
  line-height: 80px;
  height: 80px !important;
  margin: 0px !important; }

.nav-side {
  height: 100%;
  width: 100px;
  position: fixed;
  background-color: #91c46b; }

header {
  position: relative;
  height: 90px;
  margin-top: 80px;
  margin-left: 100px;
  background-color: white;
  font-family: 'Avenir Roman', sans-serif;
  color: #6c757e; }
  header span {
    height: 100%;
    display: table;
    padding-left: 20px; }
    header span h3 {
      display: table-cell;
      vertical-align: middle; }

.icon-cog {
  color: #c7cccf;
  font-size: 0.8em; }

.tournament-info {
  padding-left: 100px;
  width: 100%; }

.top {
  height: 120px;
  width: 100%;
  background-color: #f6f6f6;
  display: table; }

#stats {
  display: table-cell;
  vertical-align: middle;
  padding: 0 20px;
  text-align: justify; }
  #stats:after {
    content: "";
    width: 100%;
    display: inline-block;
    line-height: 0;
    height: 0; }

.stats-container {
  display: inline-block;
  padding: 0 20px;
  font-family: 'Avenir Roman', sans-serif;
  min-width: 158px;
  margin: 20px 5px 5px 5px; }
  .stats-container.op {
    border-left: 3px solid #91c46b; }
  .stats-container.hp {
    border-left: 3px solid #6c757e; }
  .stats-container.nt {
    border-left: 3px solid #91c46b; }
  .stats-container.lf {
    border-left: 3px solid #f15822; }
  .stats-container.cm {
    border-left: 3px solid #91c46b; }
  .stats-container.gp {
    border-left: 3px solid #f15822; }

.stats-num {
  display: inline-block;
  color: #6c757e;
  font-size: 4rem; }

.stats-sub {
  display: inline-block;
  color: #c7cccf; }

.left {
  width: 50%;
  float: left; }

.active-players, .active-tournaments, .recent-players, .player-statistics {
  padding: 20px;
  text-align: center; }
  .active-players h3, .active-tournaments h3, .recent-players h3, .player-statistics h3 {
    text-align: left; }

.right {
  width: 50%;
  float: right; }

.playerImage {
  height: 30px;
  width: 30px;
  object-fit: cover;
  border-radius: 50%; }

.player-list {
  list-style: none; }

.i-container {
  position: relative;
  display: inline-block;
  height: 150px;
  margin: 10px; }

.progress-container {
  position: relative;
  display: inline-block;
  width: 120px;
  height: 120px; }

.progress {
  height: 100% !important;
  position: absolute;
  box-shadow: none !important;
  background: none !important;
  margin: 0 !important; }

.progress > svg {
  height: 100%;
  display: block; }

.percentage {
  position: absolute;
  width: 100%;
  height: 100%;
  display: table;
  text-align: center; }
  .percentage span {
    display: table-cell;
    vertical-align: middle; }

.pb-text {
  position: absolute;
  width: 100%;
  height: 20px;
  bottom: 0;
  left: 0; }

/*# sourceMappingURL=styles.css.map */
