// Colours

$top-nav: rgb(52,56,60);
$green: rgb(145,196,107);
$tourn-top: rgb(246,246,246);
$mid-grey: rgb(242,242,242);
$cobalt: #6c757e;
$dark-grey: #c7cccf;
$orange: #f15822;

// General

body {
	margin: 0;
	background-color: $mid-grey !important;
}

// Nav Top

.navbar.navbar-default {
	position: fixed;
	top: 0;
	width: 100%;
	height: 80px;
	margin: 0;
	border-radius: 0;
	box-shadow: none;
	background-image: none;
	border: none;
	background-color: $top-nav;
	z-index: 1;
}

.navbar>.container-fluid .navbar-brand {
	margin-left: -15px;
	width: 100px;
}

.navbar-brand,
.navbar-nav li a {
	line-height: 50px !important; 
	height: 80px;
	padding-top: 0;
}

.navbar-right {
	margin-right: -30px !important;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
	background-color: #1e2327 !important;
	color: $mid-grey !important;
}

.dropdown {
	background-color: #1e2327 !important;
}

.navbar-form {
	line-height: 80px;
	height: 80px !important;
	margin: 0px !important;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>li>a:hover {
	background: none !important;
	color: $mid-grey !important;
}

.dropdown-menu>li>a {
	height: 30px;
	line-height: 30px !important;
}

.form-control {
	background-color: #4a5055 !important;
	border: none !important;
	color: $mid-grey !important;
	width: 250px !important;
	padding-left: 46px !important;
}

i.icon-search {
	position: absolute;
	top: 50%;
	margin-left: 6px;
	margin-top: -8px;
	font-size: 2rem;
	color: #6c757e;
}

// Nav Side

.nav-side {
	// margin-top: 100px;
	height: 100%;
	width: 100px;
	position: fixed;
	background-color: $green;
}

// Header

header {
	position: relative;
	height: 90px;
	margin-top: 80px;
	margin-left: 100px;
	background-color: white;
	font-family: 'Avenir Roman', sans-serif;
	color: $cobalt;

	span {
		height: 100%;
		display: table;
		padding-left: 20px;

		h3 {
			display: table-cell;
			vertical-align: middle;
		}
	}
}

.user-profile {
	height: 30px;
	width: 30px;
	display: inline-block;
	border-radius: 50%;
	margin-right: 15px;
}

.icon-cog {
	color: $dark-grey;
	font-size: 0.8em;
}

.tournament-info {
	padding-left: 100px;
	width: 100%;
}

.top {
	height: 120px;
	width: 100%;
	background-color: $tourn-top;
	display: table;
}

#stats {
	display: table-cell;
	vertical-align: middle;
	padding: 0 20px;
	text-align: justify;

	&:after {
		content: "";
		width: 100%;
		display: inline-block;
		line-height: 0;
		height: 0;
	}
}

.stats-container {
	display: inline-block;
	padding: 0 20px;
	font-family: 'Avenir Roman', sans-serif;
	min-width: 158px;
	margin: 20px 5px 5px 5px;

	&.op {
		border-left: 3px solid $green;
	}

	&.hp {
		border-left: 3px solid $cobalt;
	}

	&.nt {
		border-left: 3px solid $green;
	}

	&.lf {
		border-left: 3px solid $orange;
	}

	&.cm {
		border-left: 3px solid $green;
	}

	&.gp {
		border-left: 3px solid $orange;
	}
}

.stats-num {
	display: inline-block;
	color: $cobalt;
	font-size: 4rem;
}

.stats-sub {
	display: inline-block;
	color: $dark-grey;
}

.left {
	width: 50%;
	float: left;	
}

.active-players, .active-tournaments, .recent-players, .player-statistics {
	padding: 20px;
	text-align: left;

	h3 {
		text-align: left;
		color: $cobalt;
		font-family: 'Avenir', sans-serif;
		margin-bottom: 25px;
	}
}

.right {
	width: 50%;
	float: right;	
}

.playerImage {
	height: 35px;
	width: 35px;
	object-fit: cover;
	border-radius: 50%;
	vertical-align: middle;
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	margin: auto;
}

.player-list {
	list-style: none;
	text-align: left;
	padding: 0;
}

.person {
	display: inline-block;
	position: relative;
	height: 50px;
	width: 140px;
	margin: 10px;
}

.person h5 {
	display: inline-block;
	text-align: left;
	left: 40px;
	position: absolute;
	font-family: 'Avenir', sans-serif;
	color: $cobalt;
	font-weight: 300;

	span {
		font-size: 0.9em;
		color: #a5aaae;
	}
}

// Progress Bar;

.i-container {
	position: relative;
	display: inline-block;
	height: 150px;
	margin: 10px;
	text-align: center;
	font-family: 'Avenir', sans-serif;
	color: $cobalt;
	font-size: 1.8rem;
}

.progress-container {
	position: relative;
	display: inline-block;
	width: 120px;
	height: 120px;
}

.progress {
	height: 100% !important;
	position: absolute;
	box-shadow: none !important;
	background: none !important;
	margin: 0 !important;
}

.progress > svg {
	height: 100%;
	display: block;
}

.percentage {
	position: absolute;
	width: 100%;
	height: 100%;
	display: table;
	text-align: center;
	font-size: 2rem;

	span {
		display: table-cell;
		vertical-align: middle;
		font-size: 3rem;

		.percent-sign {
			display: inline-block;
			font-size: 1.8rem;
			margin-top: 5px;
			position: absolute;
		}
	}
}

.pb-text {
	position: absolute;
	width: 100%;
	height: 20px;
	bottom: 0;
	left: 0;
}
